/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    color: #fff;
    text-align: center;
}

.container {
    width: 100vw !important;
}

.card {
    background-color: rgba(108, 17, 17, 0.3) !important;
    border: 2px solid rgba(108, 17, 17, 0.3) !important;
    color: white;
    margin: 3rem 0.5rem;

}

    .card img {
        max-height: 220px;
        object-fit: cover;
        width: 100%;
        border-radius: 0.25rem;
    }


.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: none;
    padding: 0rem;
    background-image: url("assets/pexels-yabee-1656066.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fill {
    min-height: 100vh;
    width: 100%;
    max-width: none;
    padding: 0rem;
    background-image: url("assets/rockscene.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.purple-rain {
    background-color: rgba(108, 17, 17, 0.3) !important;
}

.paddington {
    padding: 5rem;
}

.outline-light {
    background-color: rgba(200, 17, 17, 0.1) !important;
    border: 2px solid #fff;
}

    .outline-light:hover {
        background-color: rgba(200, 17, 17, 0.5) !important;
        border: 2px solid #fff;
    }
/*
 * Header
 */
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
    }

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem
    }
}


.bi {
    vertical-align: -.125em;
    fill: currentColor
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8
}

.bd-mode-toggle {
    z-index: 1500
}

    .bd-mode-toggle .bi {
        width: 1em;
        height: 1em
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important
    }

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /*flex: 1;*/
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(108, 17, 17, 0.3);
    color: white;
    text-align: center;
    padding: 0.25rem 0.5rem;
    z-index: 1030;
}

/*.upcoming-wrapper {
    background-color: #1a0b0b;
    background-image: url("assets/pexels-yabee-1656066.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 6rem;
}


    .upcoming-wrapper section {
        background-color: rgba(108, 17, 17, 0.3);
    }

    .upcoming-wrapper .container {
        background-color: rgba(108, 17, 17, 0.3);
        border-radius: 8px;
    }*/

/*WaveForm*/

.waveform {
    display: inline-flex;
    height: 5rem;
    width: 3rem;
    gap: 0.08em;
    align-items: center;
}

.wave-bar {
    width: 100%;
    height: 10%;
    background-color: #efefef;
    border-radius: 100px;
    animation: waves 250ms linear infinite alternate;
}

    .wave-bar:nth-child(2) {
        animation-delay: 100ms;
    }

    .wave-bar:nth-child(3) {
        animation-delay: 200ms;
    }

    .wave-bar:nth-child(4) {
        animation-delay: 120ms;
    }

    .wave-bar:nth-child(5) {
        animation-delay: 70ms;
    }

    .wave-bar:nth-child(6) {
        animation-delay: 200ms;
    }

    .wave-bar:nth-child(7) {
        animation-delay: 20ms;
    }

@keyframes waves {
    from {
        height: 10%;
    }

    to {
        height: 90%;
    }
}